<h5>Exemplos de pipes</h5>

<p>Título: {{ livro.titulo | uppercase | camelCase}}</p>
<p>Estrelas: {{ livro.rating | number:'1.1-2' }}</p>
<p>Páginas: {{ livro.numeroPaginas | number }}</p>
<p>Preço: {{ livro.preco | currency:'BRL' }}</p>
<p>Data de lançamento: {{ livro.dataLancamento | date:'dd/MM/yyyy' }}</p>
<p>Url: {{ livro.url }}</p>
<br>
<p>Livro: {{ livro | json }}</p>

<br>

Filtro:
<br>
<input type="text" [(ngModel)]="filtro">
<br><br>
<input type="text" #novoValor>
<button (click)="addCurso(novoValor.value)">Add curso</button>

<h5>Pipe puro</h5>

<ul>
  <li *ngFor="let liv of livros | filtroArray:filtro">{{ liv }}</li>
</ul>

<br><br>

<h5>Pipe impuro</h5>

<ul>
  <li *ngFor="let liv of livros | filtroArrayImpuro:filtro">{{ liv }}</li>
</ul>

<br><br>

<h5>Maneira correta de usar filtro nos projetos do mundo real</h5>

<!-- falta pesquisar melhor aqui
<ul>
  <li *ngFor="let liv of obterCursos()>{{ liv }}</li>
</ul>

-->

<p> {{ valorAsync | async }} </p>

<br>

<p> {{ valorAsync2 | async }} </p>


